@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(11, 55, 82);
  color: #FFFFFF;
  font-size: 14px;
}

a {
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #FBD14C;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1210px;
}

.side {
  width: 370px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
  min-height: 200px;
  background: #0E2941;
}

.header__advertising {
  background: #FFFFFF;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

.header__bottom-row, .header__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -1px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.header__contact {
  display: grid;
  grid-template-columns: 2fr 2fr 24px 24px;
  gap: 10px;
}

.nav {
  font-size: 16px;
  text-align: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 34px;
     -moz-column-gap: 34px;
          column-gap: 34px;
}

.info {
  position: relative;
}
.info--tel, .info--mail, .info--more, .info--geo {
  padding-left: 20px;
}
.info--tel::before, .info--mail::before, .info--more::before, .info--geo::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.info--tel::before {
  background-image: url("./../img/header/phone.svg");
}
.info--mail::before {
  background-image: url("./../img/header/mail.svg");
}
.info--more::before {
  background-image: url("./../img/header/header-more.svg");
}
.info--geo::before {
  background-image: url("./../img/header/geo.svg");
}

.library__row {
  display: grid;
  grid-template-columns: repeat(3, 350px); /* Будет создано 3 колонки */
  grid-template-rows: repeat(3, 233px); /* Будет создано 3 ряда */
  gap: 33px 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.library__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  -webkit-box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.25);
}

.library__item-text {
  width: 175px;
  padding: 16px 8px;
}

.library__item-img {
  width: 175px;
  background: #fff;
  border-radius: 0px 15px 15px 0px;
}