.cad-map {

}

.cad-map__title {
  margin-bottom: 16px;
}

.cad-map__content {

}

.cad-map__content p {  
  line-height: 17px;
  margin-bottom: 10px;  
}

.cad-map__content-img {
  display: flex;
  column-gap: 10px;
}

.cad-map__content-text {

}

