.grad-plan {

}

.grad-plan__title {
  margin-bottom: 16px;
}

.grad-plan__content {

}

.grad-plan__content p {  
  line-height: 17px;
  margin-bottom: 10px;  
}

.grad-plan__content-img {
  display: flex;
  column-gap: 10px;
}

.grad-plan__content-text {

}

