.location__top {
  padding: 10px 15px;
}

.location__top-row {
  display: flex;
  justify-content: start;
  column-gap: 50px;
}

.location__breadcrumbs-list {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.location__breadcrumbs-center {
  display: flex;
  align-items: center;
}