.npese {

}

.npese__title {
  margin-bottom: 16px;
}

.npese__content {

}

.npese__content p {  
  line-height: 17px;
  margin-bottom: 10px;  
}

.npese__content-img {
  display: flex;
  column-gap: 10px;
}

.npese__content-text {

}