.price-zone {

}

.price-zone__title {
  margin-bottom: 16px;
}

.price-zone__content {

}

.price-zone__content p {  
  line-height: 17px;
  margin-bottom: 10px;  
}

.price-zone__content-img {
  display: flex;
  column-gap: 10px;
}

.price-zone__content-text {

}

