.block {  
  max-width: 1180px;
  min-width: 280px;
  background: $white;
  color: $black;
  border-radius: 15px;
  box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.25);
  padding: 32px;

  &--w280, &--w380, &--w480, &--w580, &--w680, &--w780, &--880 {
    padding: 24px;
    min-width: 280px;
  }

  &--p0 {border-radius: 15px;}

  &--w280 {width: 280px;}
  &--w380 {
    max-width: 380px;

    @include mediaTablet {
      max-width: 780px;
    }
  }
  &--w480 {max-width: 480px;}
  &--w580 {max-width: 580px;}
  &--w680 {max-width: 680px;}
  &--w780 {max-width: 780px;}
  &--w880 {max-width: 880px;}

  &--fix {
    position: sticky;
    top: 32px;
    left: calc(50% + 210px);
  }
}