.correct {

}

.correct__title {
  margin-bottom: 16px;
}

.correct__content {

}

.correct__content p {  
  line-height: 17px;
  margin-bottom: 10px;  
}

.correct__content-img {
  display: flex;
  column-gap: 10px;
}

.correct__content-text {

}

