.header {
  display: flex; // выровняли элементы по горизонтали
  flex-direction: column; // выровняли элементы в колонку
  // justify-content: space-between;  выровняли на равном растоянии вдоль всей высоты

  min-height: 150px;

  background: url('./../img/header/header-bg-nav.jpg'), no-repeat;

}

.header__advertising {
  background: $white;
}

.header__top {
  
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 10px;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__center {
  align-items: center;
}

.header__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;

  @include mediaTablet {
    display: none;
  }
}
.header__nav {
  @include mediaTablet {
    display: none;
  }
}

.header__nav-btn {
  display: none;

  @include mediaTablet {
    display: block;
  }
}

.header__contact {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2px;
  align-items: center;
}

.header__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.header__auth-login {
  display: flex;
  gap: 10px;
  width: 126px;
  height: 40px;
  padding: 9px 24px;  
  font-weight: 600;
  border-radius: 6px;
  border: solid 1px $stroke;
  text-align: center;
  align-items: center;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: $accent2;
  }
}

.header__auth-reg {
  font-family: $font-secondary;
  font-size: 13px;
}

.header__cont-text {
  display: flex;
  flex-direction: column;
  width: 129px;
  gap: 8px;

  @include mediaTablet {
      display: none;
    }
}

.header__contact-social {
  display: flex;
}

.header__cont-icons, .header__cont-messengers{
  display: flex;
  flex-direction: column;
  width: 24px;
}



