.header {
  display: flex; // выровняли элементы по горизонтали
  flex-direction: column; // выровняли элементы в колонку
  // justify-content: space-between;  выровняли на равном растоянии вдоль всей высоты

  min-height: 150px;

  background: $header-footer-bg;
}

.header__advertising {
  background: $white;
}

.header__top {
  
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 10px;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
}

.header__contact {
  display: grid;
  grid-template-columns: auto auto 24px 24px;
  gap: 10px;
  align-items: center;
}

.header__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.header__auth-login {
  display: flex;
  gap: 10px;
  width: 126px;
  height: 40px;
  padding: 9px 24px;  
  font-weight: 600;
  border-radius: 6px;
  border: solid 1px $stroke;
  text-align: center;
  align-items: center;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: $accent2;
  }
}

.header__auth-reg {
  font-family: $font-secondary;
  font-size: 13px;

}

.header__cont-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  background: url('./../img/header/header-bg-nav.jpg'), no-repeat;
}

