.info {
  position: relative;

  &--more, &--geo, &--home { // Если присутствуют модификаторы
    padding-left: 24px;
    justify-items: center;
    
    &::before {
      content: "";

      position: absolute;
      left: 0px;
      top: 50%;
      width: 18px;
      height: 18px;
      transform: translate(0%, -50%);

      background-repeat: no-repeat;      
      background-position: center;
    }
  }

  &--more::before {
    background-image: url('./../src/img/header/header-more.svg');
  }

  &--geo::before {
    background-image: url('./../src/img/header/geo.svg');
  }

  &--home::before {
    background-image: url('./../src/img/header/home.svg');
  }
}