.info {
  position: relative;

  &--more, &--geo, &--home { // Если присутствуют модификаторы
    padding-left: 24px;
    justify-items: center;
    
    &::before {
      content: "";

      position: absolute;
      left: 0px;
      top: 0px;
      width: 18px;
      height: 18px;

      background-repeat: no-repeat;
    }    
  }

  &--more::before {
    background-image: url('./../img/header/header-more.svg');
  }

  &--geo::before {
    background-image: url('./../img/header/geo.svg');
  }

  &--home::before {
    background-image: url('./../img/header/home.svg');
  }
}