.investigation {
  padding: 24px 0px;
}

.investigation__title {
  padding-bottom: 24px;
}

.investigation__documents {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.investigation__document {
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
}