.library {

}

.library__row {
  display: grid;  
  grid-template-columns: repeat(3, 350px); /* Будет создано 3 колонки */    
  grid-template-rows: repeat(3, 233px); /* Будет создано 3 ряда */
  gap: 33px 33px;

  justify-content: center;
}

.library__item {
  display: flex;
  border-radius: 15px;
  box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.25);
}

.library__item-text {
  width: 175px;
  padding: 16px 8px;
}

.library__item-img {
  width: 175px;
  background: #fff;
  border-radius: 0px 15px 15px 0px;
}
