.library {
  overflow: hidden;
  display: grid;
  justify-content: center;
  padding-bottom: 32px;
  background: url(./../img/header/header-bg.jpg);
}

.library__top {
  padding: 10px 0px;
}

.library__top-row {
  display: flex;
  justify-content: start;
  column-gap: 50px;
}

.library__breadcrumbs-list {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.breadcrumbs-center {
  display: flex;
  align-items: center;
}

.library__title {
}

.library__filters {

}

.library__cards {
  display: grid;  
  grid-template-columns: repeat(3, 350px); /* Будет создано 3 колонки */    
  grid-template-rows: repeat(3, 233px); /* Будет создано 3 ряда */

  gap: 33px;
  
  justify-content: center;    
  
  @include mediaTablet {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); /* Aдаптив для мобильных устройств */    
  }
}

.library__card {
  display: flex;
  border-radius: 15px;
  box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.25);
}

.library__card-text {
  font-size: 12px;
  line-height: 20px;

  width: 175px;
  padding: 16px 8px;
  
  border-radius: 15px 0px 0px 15px;  
}

.library__card-img {
  width: 175px;
  background: $white;
  border-radius: 0px 15px 15px 0px;  
}
