.npes {

}

.npes__title {
  margin-bottom: 16px;
}

.npes__content {

}

.npes__content p {  
  line-height: 17px;
  margin-bottom: 10px;  
}

.npes__content-img {
  display: flex;
  column-gap: 10px;
}

.npes__content-text {

}