@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: $font-main;
  color: $white;
  font-size: 14px;
}

main {
  background: $main-bg;
}

a {
  color: $white;
  transition: color 0.2s ease-in; // плавная замена цвета

  &:hover{
    color: $accent;
  }
}

.active {
  color: $accent;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;  
}

.side {
  width: 370px;
  justify-items: center;

  &--right {
    justify-content: end;
  }
}

.text-right {
  text-align: right;
}

.visually-hidden { // Скрывает заголовок для семантики
  height: 1px;
  overflow: hidden;
  width: 1px;

  // Keep the layout
  position: absolute;

  // Remove any visible trace (e. g. background color)
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%); // browsers in the future

  // Prevent the screen reader to skip spaces between words
  white-space: nowrap;
}

.none { // Скрывает секцию
  display: none !important;
}

.block {  
  max-width: 1180px;
  min-width: 280px;
  background: $white;
  color: $black;
  border-radius: 15px;
  box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.25);
  padding: 32px;

  &--w280, &--w380, &--w480, &--w580, &--w680, &--w780, &--880 {
    padding: 24px;
  }

  &--p0 {border-radius: 15px;}

  &--w280 {width: 280px;}
  &--w380 {
    width: 380px;
    max-height: 466px;
  }
  &--w480 {width: 480px;}
  &--w580 {width: 580px;}
  &--w680 {width: 680px;}
  &--w780 {width: 780px;}
  &--w880 {width: 880px;}

  &--fix {
    position: sticky;
    top: 32px;
    left: calc(50% + 210px);
  }
}


.title-24 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: $black;
}

.title-16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: $black;
}
.subtitle {
  font-weight: 500;
  line-height: 16px;
  margin-top: 8px;
  color: #434B53;
}

.title-line {
  border-top: 2px solid $stroke;
  margin-top: 8px;
}

.qr-code {
  background: $main-bg;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  &::before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
  }
}

.qr-code img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}


