@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap');



body {
  font-family: $font-main;
  background-color: $main-bg;
  color: $white;
  font-size: 14px;
}

a {
  color: $white;
  transition: color 0.2s ease-in; // плавная замена цвета

  &:hover{
    color: $accent;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1210px;
}

.side {
  width: 370px;
}