@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: $font-main;
  color: $white;
  font-size: 14px;
}

main {
  background: $main-bg;
}

a {
  color: $white;
  transition: color 0.2s ease-in; // плавная замена цвета

  &:hover {
    color: $accent;
  }
}

.active {
  color: $accent;
}

.container {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  max-width: 1210px;
  padding: 0px 15px 20px 15px;

  &--column {
    flex-direction: column;
    gap: 0px;
    max-width: 1440px;
    padding: 0px 15px;
  }

  &--full {
    max-width: 1440px;
  }
  
  @include mediaTablet {
    flex-direction: column;
  }
}

.side {
  width: 370px;
  justify-items: center;

  &--right {
    justify-content: end;
  }
}

.text-right {
  text-align: right;
}

.visually-hidden {
  // Скрывает заголовок для семантики
  height: 1px;
  overflow: hidden;
  width: 1px;

  // Keep the layout
  position: absolute;

  // Remove any visible trace (e. g. background color)
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%); // browsers in the future

  // Prevent the screen reader to skip spaces between words
  white-space: nowrap;
}

.none {
  // Скрывает секцию
  display: none !important;
}

.title-24 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: $black;

  @include mediaTablet {
  }
}

.title-16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: $black;
}
.subtitle {
  font-weight: 500;
  line-height: 16px;
  margin-top: 8px;
  color: #434b53;
}

.title-line {
  border-top: 2px solid $stroke;
  margin-top: 8px;
}

.qr-code {
  padding: 20px;
  background: $main-bg;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  &::before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: "";
  }
}

.qr-code img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  border-radius: 16px;
}

.widgets {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.no-scroll {
  overflow-y: hidden;
}
