// Fonts
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$main-bg: radial-gradient(50% 50% at 50% 50%, rgb(27, 116, 163), rgb(11, 55, 82) 100%);
$header-footer-bg: #0E2941;
$dark-blue: #194465;
$accent: #FBD14C;
$accent2: #eec02a;
$white: #FFFFFF;
$black: #2E363E;
$grey: #434B53;
$stroke: #D9D9D9;
$buttons: #4B5B59;

// Media
$tablet: 999px; // для планшетов до 1000px
$laptop-s: 1200px; // для экранов до 1200px
$laptop-m: 1440px; // для экранов до 1440px
$laptop-l: 1680px; // для экранов до 1680px